# Learn more about paths on https://github.com/github/gitignore/blob/master/Node.gitignore

node_modules

generators
build
dist
out
testsOut
.next
.nuxt
.cache
src/generated.ts
src/configurationType.js
src/configurationType.js.map
src/configurationTypeCache.jsonc

coverage
*.lcov
.nyc_output
.vscode-test-web

logs
*.log
experiment-*
.DS_Store
.env.local
.env.*.local

.vscode-test
